{% include 'signup/home.html' %}
{% block content %}
  {% if user.user_type == 'Doctor' %}
     <a href="{% url 'doctorblogs' userid=user.id %}">My Blogs</a>
     <a href="{% url 'create' userid=user.id %}">Add Blog</a>
  {% else %}
      <a href="{% url 'patientblogs' %}">View Blogs</a>
      <a href="{% url 'doctorslist' %}">Book Appointment</a>
  {% endif %}
 <!-- {% for blog in blogs %}
    <a href="{% url 'detail' blog.id %}"<h3>{{blog.title}}</h3></a>
    <br>
    <img src="{{blog.img.url}}" width="300" height="300">
    <br>
    <p>
        {{blog.description}}
        <br>
        <a href="{% url 'update' blog.id %}">Update</a>
        <a href="{% url 'delete' blog.id %}">Delete</a>
    </p>

    <hr>
    <hr>

 {% endfor %} -->
{% endblock %}
